   
:root {
    --text-color: #1C1E0D;
    --bg-color: #FFF7E3;
    --link-color: #2610e9;
    --button-color: #A2EBD1;
    --font-size: 16px;
    --line-height: 1.6;
    --image-bg-high-contrast: #ffffff;
    
}

body {
    font-family: verdana, -apple-system, sans-serif;
    line-height: var(--line-height);
    color: var(--text-color);
    background-color: var(--bg-color);
    max-width: 1050px;
    margin: 0 auto;
    padding: 20px;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

p, li {
    font-size: 1rem; /* Relative to root element */
    margin: 1em 0;
}

h1 {
    font-size: clamp(2rem, 5vw, 3.5rem);
    color: var(--text-color);
    margin-bottom: 1rem;
    max-width: 100%;
    border-bottom: 2px solid #dbdbdb;
    overflow-wrap: break-word;
    hyphens: auto;
}

@media (max-width: 768px) {
    h1 {
        font-size: clamp(1.5rem, 4vw, 2.5rem);
    }
}

a {
    color: var(--link-color);
}

/* High contrast mode */
[data-theme="high-contrast"] {
    --text-color: #fff;
    --bg-color: #000;
    --link-color: #00ff00;
    --button-color: #00ff00;
    --image-bg-high-contrast: #ffffff;
}

.info-boxes {
    border: 2px solid #ddd;
    padding: 20px;
    margin: 20px 0;
    border-radius: 8px;
    flex: 1 1 300px; /* Grow, shrink, and base width */
    margin: 10px;
}

.image-links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 20px 0;
}

.image-links a {
    display: inline-block;
    margin: 0 10px;
}

.image-links img {
    max-width: 100%;
    height: auto;
    width: 60px; /* Adjust this value to make images smaller */
    transition: transform 0.3s ease;
}

[data-theme="high-contrast"] .image-links img {
    background-color: var(--image-bg-high-contrast);
    border: 2px solid var(--text-color);
    border-radius: 5px;
    padding: 5px;
}

.image-links img:hover {
    transform: scale(1.1);
}

@media (max-width: 768px) {
    .image-links img {
        width: 50px; /* Smaller size for mobile devices */
    }
}

.page-grid {
    display: flex;
    flex-wrap: wrap;
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
    gap: 2rem;
    margin: 2rem 0;
}


.explanation {
    --bg-color: #FFF7E3;
    padding: 15px;
    border-left: 4px solid var(--button-color);
    margin: 10px 0;
}

button {
    background: var(--button-color);
    color: #1C1E0D;
    border: 1px solid;
    border-bottom: 3px solid;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    margin: 5px;
}

button:focus {
    color: #1C1E0D;
    background-color:#fcec63;
    
    outline-offset: 2px;
}